<div class="title">一般資訊</div>
<div class="subtitle">告訴我們你是誰!</div>
<div class="ui-g">
  <div class="ui-g-6">
    <div class="text-description">姓名(選填)</div>
    <input class="full" type="text" placeholder="Keyword" pInputText pTooltip="Enter your username" tooltipPosition="right" tooltipEvent="focus"
    />
    <span class="invalid-icon">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </span>
  </div>
  <div class="ui-g-6">
    <div class="text-description">電話*</div>
    <input class="full" type="text" placeholder="Keyword" pInputText pTooltip="Enter your username" tooltipPosition="right" tooltipEvent="focus"
    />
    <span class="invalid-icon">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </span>
  </div>
</div>
<div class="ui-g">
  <div class="text-description">生日(選填)</div>
  <div class="ui-g-4">
    <input class="full" type="text" placeholder="Keyword" pInputText pTooltip="Enter your username" tooltipPosition="right" tooltipEvent="focus"
    />
  </div>
  <div class="ui-g-4">
    <input class="full" type="text" placeholder="Keyword" pInputText pTooltip="Enter your username" tooltipPosition="right" tooltipEvent="focus"
    />
  </div>
  <div class="ui-g-4">
    <input class="full" type="text" placeholder="Keyword" pInputText pTooltip="Enter your username" tooltipPosition="right" tooltipEvent="focus"
    />
  </div>
</div>
<div class="ui-g">
    <div class="text-description">地址</div>
  <div class="ui-g-6">
      <input class="full" type="text" placeholder="Keyword" pInputText pTooltip="Enter your username" tooltipPosition="right" tooltipEvent="focus"
      />
  </div>
  <div class="ui-g-6">
      <input class="full" type="text" placeholder="Keyword" pInputText pTooltip="Enter your username" tooltipPosition="right" tooltipEvent="focus"
      />
  </div>
  <div class="ui-g-12">
      <input class="full" type="text" placeholder="Keyword" pInputText pTooltip="Enter your username" tooltipPosition="right" tooltipEvent="focus"
      />
  </div>
</div>
<div class="ui-g">
  <button class="full" pButton type="button" label="下一步" routerLink="/profile"></button>
</div>
