//font-awsome
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
// font
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: "Noto Sans TC";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$deepBlue:#0275d8;
$lightBlue:#bee1ff;
$orange:#f5a623;
$black:#000000;
$white:#ffffff;
$gray:#9b9b9b;
.title {
  font-weight: lighter;
  font-size: 48px;
  width: 100%;
  text-align: center;
}

.subtitle {
  font-weight: lighter;
  font-size: 24px;
  width: 100%;
  text-align: center;
}

.form {
  font-size: 20px;
}

.lable {
  font-size: 14px;
}

//
.container {
  width: 600px;
  margin: 0 auto;
  .nav-bar {
    width: 100%;
    border-top: 3px solid $deepBlue;
    height: 1px;
  }
  .progress-bar {
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      margin: auto;
      background-color: $lightBlue;
      top: 0;
      bottom: 0;
      left: 0;
    }
    width: 56%;
    margin: 0 auto;
    padding: 12% 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    >div{
      width: 16px;
      height: 16px;
      border-radius: 100%;
      border: 2px solid #bee1ff;
      background-color: #fff;
      position: relative;
      &.completed{
        border-color: #0275d8;
      }
    }
  }

}

.ui-g {
  // margin-top: 40px;
  margin-top:10px;
}

.full {
  width: 100%;
}

.text-description {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.invalid-icon {
  position: relative;
  right: -90%;
  top: -38px;
  // position: relative;
  // right: 20px;
  // top: 1px;
  color: $orange;
}

.ui-tooltip-text.ui-shadow.ui-corner-all {
  background-color: $orange;
}
input.ng-dirty.ng-invalid {
  border-color:$orange;
}
input{
  border-width:2px !important;
  height:52px;
  padding-left:10px !important;
}
.ui-corner-all{
  border-radius:8px;
}
.cong-large{
  font-size: 15em;
  margin: 0 auto;
  color: $deepBlue;
}
.ui-inputtext.ng-dirty.ng-invalid{
  border-bottom-color:$orange;
}
// .congratulation{
//   width: 100%;
//   height: auto;
// }
