<div class="title">建立帳號</div>
<div class="subtitle">很高興見到你!</div>
<form [formGroup]='accountForm'>
  <div class="ui-g">
    <div class="text-description">帳號</div>
    <input formControlName="account" class="full" type="text" placeholder="Keyword" pInputText pTooltip="無效的email" tooltipPosition="right" tooltipEvent="focus"/>
    <span class="invalid-icon">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </span>
  </div>
  <div class="ui-g">
    <div class="text-description">密碼</div>
    <input formControlName="password" class="full" type="password" placeholder="最少8位數" pInputText pTooltip="Enter your username" tooltipPosition="right" tooltipEvent="focus"/>
    <span class="invalid-icon">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </span>
  </div>
  <div class="ui-g">
    <div class="text-description">確認密碼</div>
    <input formControlName="repassword" class="full" type="password" placeholder="Keyword" pInputText pTooltip="Enter your username" tooltipPosition="right" tooltipEvent="focus"/>
    <span class="invalid-icon">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </span>
  </div>
  <div class="ui-g">
    <button [disabled]="accountForm.invalid" class="full" pButton type="button" label="下一步" routerLink="/information"></button>
  </div>
</form>
<p>Form status: {{ accountForm.status | json }}</p>
