<div class="title">建立帳號</div>
<div class="subtitle">很高興見到你!</div>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>
    <label for="float-input">Username</label>
</span>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>
    <label for="float-input">Username</label>
</span>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>
    <label for="float-input">Username</label>
</span>


